.navbar-brand h1{
    margin-top: -12px;
    margin-left: 10px 
}

.navbar-nav {
    background-color: #e9e7e7;
}

.container h2{
	margin-top: 0px;
}

.menu-item{
	background-color: lightgrey;
	padding: 1px 15px;
    margin: 10px;
}